* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: turquoise;
    color: #000;
    font-family: "Aldrich", sans-serif;
    padding: 8px 0;
    text-align: center;
    font-size: 2.5em;
}

h2 {
    font-family: "Patrick Hand SC", cursive;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

h3 {
    font-family: "Patrick Hand SC", cursive;
    font-size: 2em;
}

header {
    font-weight: normal;
    margin-top: 150px;
}

body {
    background-color: rgb(51, 51, 51);
    color: #fff;
}

form {
    max-width: 320px;
    width: 100%;
    margin: 20px auto;
    display: flex;
}

form button {
    background-color: turquoise;
    font-size: 1.3em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.637);
    padding: 8px 16px;
    margin-left: 12px;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(28, 129, 119);
}

form input {
    font-size: 1.2em;
    border-radius: 10px;
    padding: 7.5px;
}

ul {
    font-family: "Patrick Hand SC", cursive;
    font-size: 2em;
    text-align: center;
    padding: 8px;
}

ul ol {
    font-size: 1.3em;
    font-family: "Patrick Hand SC", cursive;
    font-weight: bold;
    text-align: center;
    max-width: 130px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

ul img {
    height: 25px;
}

.done {
    text-decoration: line-through;
}


footer {
    background-color: turquoise;
    color: black;
    padding: 6px 0;
    font-family: "Aldrich", sans-serif;
    font-weight: bold;
    text-align: center;
}